sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
addons:
  apt:
    packages:
      - libopenblas-base
      - libopenblas-dev
      - liblapack-dev
      - gfortran  
before_install:
  - pip install --upgrade pip
  - pip install pytest pytest-cov
  - pip install coveralls
  - pip install nutsflow
install: 
  - pip install nutsml
script:
  - "echo 'backend : Agg' > matplotlibrc"
  - py.test
  - coverage run --source=nutsml --omit="nutsml/examples/*" setup.py test
  - coverage report --fail-under=100
after_success:
  - coveralls  
